html
  height 100%
  font-size 100%
  body
    height 100%
    background #000000
    color #c0c0c0
    margin 0
    padding 0
    .menuButton
      position absolute
      top 0
      left 0
      background rgba(0,0,0,0.75)
      font-size 4vh
      margin 1vh
      cursor pointer
      max-height 100%
      z-index 100
    .container-fluid
      height 100%
      padding 0
      .topHeader
        height 7%
        h1,h2
          height 100%
          margin 0
          text-align center
          font-size 6vh
          font-family 'Playball', cursive
        .glyphicon
          font-size 4vh
          padding 1vh
          cursor pointer
          max-height 100%
        .activeAllStreams
          color red
        #about
          z-index 6
          display none
          position fixed
          top 35%
          left 35%
          border 1px solid #c0c0c0
          background #000000
          padding 0 20px 10px 20px
          max-width 500px
          h2, h3
            padding 0
            margin 0
            text-align center
          p>span
            color red
          .glyphicon-remove-circle
            position absolute
            right 0
            top 0
            font-size 18pt
            cursor pointer
      #flexBox.fullHeight
        height 100%
      #flexBox
        display flex
        flex-direction row
        align-items stretch
        height 93%
        min-height 600px
        min-width 1200px
        #streamsList
          flex-grow 1
          min-width 265px
          display flex
          flex-direction column
          align-items stretch
          .streamPreview
            position relative
            flex-grow 1
            border 1px solid #c0c0c0
            min-height 150px
            .streamPreviewControl
              position absolute
              top 0
              right 0
              z-index 2
              background rgba(0,0,0,0.75)
              padding 2px 5px
              .glyphicon
                font-size 16pt
                cursor pointer
            .streamPreviewPlayer
              position absolute
              width 100%
              height 100%
              z-index 1
          .streamPreview.active
            .streamPreviewPlayer
              z-index 2
            .glyphicon-share-alt
              color red
              transform scaleX(-1)
          .streamPreview.activePreview
            .streamPreviewPlayer
              z-index 3
            .glyphicon-eye-open
              color red
        #mainStream
          position relative
          flex-grow 1000
          border 1px solid #c0c0c0
          .mainStreamContainer
            position absolute
            width 100%
            height 100%
            z-index -1
        #chats
          position relative
          flex-grow 1
          min-width 300px
          border 1px solid #c0c0c0

          display flex
          flex-direction column
          align-items stretch
          header
            flex-grow 1
            text-align center
            padding-top 2px
            .activeButton
              border-color red
              color red
              font-weight bold
          .chatContainer
            flex-grow 1000
            position relative
            .chatElement
              position absolute
              height 100%
              display none
              padding 2px
      #streamChooser
        position absolute
        top 10%
        left 10%
        right 10%
        background rgba(0,0,0,0.9)
        border 1px solid #c0c0c0
        text-align center
        display none
        z-index 5
        #chooseSource
          div
            display inline-block
            padding 10px
            cursor pointer
            img
              max-height 340px
        #searchButton
          margin-top 10px
        #twitchSearch
          margin-top 10px
          input[type=text]
            margin-right 10px
        nav
          position absolute
          right 0
          top 0
          .glyphicon
            font-size 24pt
            cursor pointer
            margin 3px
        .glyphicon-arrow-left
          font-size 24pt
          cursor pointer
          margin 3px
          position absolute
          left 0
        .gameCard
          cursor pointer
          display inline-block
          width 136px
          margin 10px
        .streamCard
          cursor pointer
          display inline-block
          width 320px
          margin 10px
          span
            color yellow